# Data files
Sentinel_1/ost/s1/S1_Timeseries/dataset/
Sentinel_2/

# Common data formats
*.tif
*.parquet
*.zip
*.nc
*.h5
*.hdf5

# Zone identifiers (Windows metadata)
*:Zone.Identifier

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Conda
*.egg-info/

!Sentinel_1/ost/s1/Example_Fields/ 